* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    background-color: black;
}


header {
    position: fixed;
    top: 0;
    height: 56px;
    width: 100%;
    box-sizing: border-box;
    background: black;
    display: flex;
    justify-content: space-between;
}


.right-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.icon-menu {
    padding-left: 23px;
}
.yt-logo {
    padding-left: 5px;
    padding-top: 5px;
}
.yt-text-margin {
    margin-left: -18px;
}


.middle-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-icon-container {
    width: 4rem;
    height: 36px;
    border-radius: 0 1000000rem 1000000rem 0;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0.4rem 0.6rem;
}
.search-box {
    width: 32rem;   
    height: 36px;
    border-radius:1000000rem 0  0 1000000rem;
    background-color:black;
    border: 1px solid #333;
    color: #777;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.4rem 0.6rem;
}
.mic-icon-container {
    width: 40px;
    height: 40px;
    border-radius: 1000000rem 1000000rem 1000000rem 1000000rem;
    background-color: #333;
    color: white;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keyboard-alt-icon-padding {
    padding-left: 425px;
}


.left-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}
.sign-in-container {
    width: 100px;
    height: 37px;
    border-radius: 1000000rem;
    border: 2px solid #333;
    color: #3ea6ff;
    margin-right: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sign-in-container:hover {
    box-shadow: inset 0 0 0 1000px #0d6fc9;
}
.more-vert-icon-padding {
   padding-right: 15px;
}
.font-roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.sub-header {
    background: black;
    position: fixed;
    top: 56px;
    height: 56px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 250px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}
.section-all {
    border-radius: 9px 9px 9px 9px  ;
    background-color: white;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-all:hover {
    background-color: #555;
}
.rubric-container {
    border-radius: 9px 9px 9px 9px;
    background-color: #333;
    padding: 7px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rubric-container:hover {
    background-color: #555;
}
.font-roboto-small {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}
.text-decoration-none {
    text-decoration: none;
}
.margin-left-20px {
    margin-left: 20px;
}
.color-white {
    color: white;
}
.color-black {
    color: black;
}


aside {
    height: 100%;
    width: 250px;
    top: 56px;
    left: 0;
    position: fixed;
    z-index: 1;
    background-color: black;
    overflow-y: auto;
}
.sidenav a {
    text-decoration: none;
    color: white;
    display: block;
    position: sticky;
}
.icon-position {
    position: relative;
    top: 9px;
    left: 5px;
}
.text-position {
    position: relative;
    top: 3px;
    left: 5px;
    padding-left: 20px;
}
.text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 20px 13px 7px;
    background-color: black;
    border-radius: 11px 11px 11px 11px;
    margin-left: 13px;
    margin-right: 25px;
}
.text-container:hover {
    background-color: #333;
}
.margin-top-8px{
    margin-top: 8px;
}
.font-poiret-one {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 13px;
}
.font-poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
}
.thin-line {
    border-width: 0.1px;
    font-weight: 10;
}
.sign-in-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px 5px 5px;
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 25px;
}
.margin-top-minus15px{
    margin-top: -15px;
}
.description-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 20px 13px 7px;
    background-color: black;
    border-radius: 11px 11px 11px 11px;
    margin-top: -5px;
    margin-left: 17px;
    margin-right: 25px;
    margin-bottom: 40px;
}


main {
    margin-left: 250px;
    margin-top: 120px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
.content-container {
    background: black;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.media-cover img { 
    width: 100%;
    height: 75%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 1px black;
    transition: 0.5s;
    cursor: pointer;
}
.font-poiret-one-xLarge {
    font-family: "Poiret One", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}
.font-poiret-one-xSmall {
    font-family: "Poiret One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
}
.marign-top7px-marign-bottom0 {
    margin-top: 9px;
    margin-bottom: 0px;
}
.marign-top4px-marign-bottom0 {
    margin-top: 4px;
    margin-bottom: 0px;
}
.color-black-555{
    color: #555;
}
.color-white{
    color: #fff;
}



