* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    background-color: black;
}


header {
    position: fixed;
    top: 0;
    height: 56px;
    width: 100%;
    box-sizing: border-box;
    background: black;
    display: flex;
    justify-content: space-between;
}


.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.icon-menu {
    padding-left: 23px;
}
.yt-logo {
    padding-left: 5px;
    padding-top: 5px;
}
.yt-text-margin {
    margin-left: -18px;
}


.header-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input-small {
    width: 4rem;
    height: 36px;
    border-radius: 0 1000000rem 1000000rem 0;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0.4rem 0.6rem;
}
.search-input-large {
    width: 32rem;
    height: 36px;
    border-radius:1000000rem 0  0 1000000rem;
    background-color:black;
    border: 1px solid #333;
    color: #777;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.4rem 0.6rem;
}
.microphone-class {
    width: 40px;
    height: 40px;
    border-radius: 1000000rem 1000000rem 1000000rem 1000000rem;
    background-color: #333;
    color: white;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.font-roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.under-header {
    background: lightgreen;
    position: fixed;
    top: 56px;
    height: 56px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 250px;
}


main {
    margin-left: 250px;
    margin-top: 120px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(auto-fil, minmax(310px, 1fr)); */
}
.content {
    background: lightgoldenrodyellow;
    height: 300px;
    padding: 20px;
}


aside {
    height: 100%;
    width: 250px;
    top: 56px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: lightcoral;
    overflow-y: auto;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    position: sticky;
    margin-top: 5px;
    margin-bottom: 5px;
}
.sidenav a:hover {
    color: black;
    
}
.icon {
    position: relative;
    top: 9px;
    left: 5px;
}
.text {
    position: relative;
    top: 5px;
    left: 5px;
    padding-left: 20px;
    font-size: 20px;
}


/* implement this later */
/* .last-icon-margin {  
    margin-bottom: 20px;
} */