* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: black;
}


header {
    position: fixed;
    top: 0;
    height: 56px;
    width: 100%;
    box-sizing: border-box;
    background: rgb(0, 200, 255);
}

aside {
    height: 100%;
    width: 250px;
    top: 56px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: lightcoral;
    overflow-y: auto;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: lightgreen;
    display: block;
    position: sticky;
    margin-top: 10px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

main {
    margin-left: 250px;
    margin-top: 56px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.content {
    background: lightgoldenrodyellow;
    height: 300px;
    padding: 20px;
}

/* .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
} */

.icon {
    position: relative;
    top: 9px;
    left: 5px;
}

.text {
    position: relative;
    top: 5px;
    left: 5px;
    padding-left: 20px;
    font-size: 20px;
        
}