* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    background-color: black;
}


header {
    position: fixed;
    top: 0;
    height: 56px;
    width: 100%;
    box-sizing: border-box;
    background: rgb(0, 200, 255);
    display: flex;
    justify-content: space-between;
}


.header-left {
    /* flex: 1; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.icon-menu {
    padding-left: 23px;
}
.yt-logo-padding {
    padding-left: 5px;
}


.font-roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.under-header {
    background: lightgreen;
    position: fixed;
    top: 56px;
    height: 56px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 250px;
}


main {
    margin-left: 250px;
    margin-top: 120px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(auto-fil, minmax(310px, 1fr)); */
}
.content {
    background: lightgoldenrodyellow;
    height: 300px;
    padding: 20px;
}


aside {
    height: 100%;
    width: 250px;
    top: 56px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: lightcoral;
    overflow-y: auto;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    position: sticky;
    margin-top: 5px;
    margin-bottom: 5px;
}
.sidenav a:hover {
    color: black;
    
}
.icon {
    position: relative;
    top: 9px;
    left: 5px;
}
.text {
    position: relative;
    top: 5px;
    left: 5px;
    padding-left: 20px;
    font-size: 20px;
}


/* implement this later */
/* .last-icon-margin {  
    margin-bottom: 20px;
} */